{% extends 'base.html' %}
{% load widget_tweaks %}

<!-- TODO: Display appropriate page title -->

{% include 'navbar.html' %}
<div class="container my-5">

    <div class="row">
        <div class="p-5 m-auto rounded shadow-lg col-md-4 bg-body">
            <h3 class="text-center text-success">{{user}} </h3>
            <form method="POST" class="my-5">
                #requestLoan = loanRequest.objects.all().filter(customer=request.user.customer).count(),
    
                # approved = loanRequest.objects.all().filter(
                #     customer=request.user.customer).filter(status='approved').count(),
                # rejected = loanRequest.objects.all().filter(
                #     customer=request.user.customer).filter(status='rejected').count(),
                # totalLoan = CustomerLoan.objects.filter(customer=request.user.customer).aggregate(Sum('total_loan'))[
                #     'total_loan__sum'],
                # totalPayable = CustomerLoan.objects.filter(customer=request.user.customer).aggregate(
                #     Sum('payable_loan'))['payable_loan__sum'],
                # totalPaid = loanTransaction.objects.filter(customer=request.user.customer).aggregate(Sum('payment'))[
                #     'payment__sum'],
            
                # cdict = {
                #     'request': requestLoan[0],
                #     'approved': approved[0],
                #     'rejected': rejected[0],
                #     'totalLoan': totalLoan[0],
                #     'totalPayable': totalPayable[0],
                #     'totalPaid': totalPaid[0],
                #     'helo' : 'John'
            
                # }
                {% csrf_token %}

                <div class="mb-4 form-outline">

                    {% render_field form.payment|attr:'required:true' class="form-control" %}
                    <label class="form-label">Payment amount</label>
                </div>

                <button type="submit" class="mb-4 btn btn-primary btn-block">Payment</button>

                </div>

                <!-- Submit button -->

                <!-- Register buttons -->

            </form>
        </div>
    </div>
</div>

