{% extends 'base.html'%}

<style>
    .row{
        height:80vh;
    }

</style>

{% block content %}
<div class="container">
    <div class="row">
        <div class="col-md-6-auto">
            <img src="#" class="img-fluid mx-auto" alt="Bckground Image">
            <!-- <img class="img-fluid mx-auto" alt="Bckground Image" src="https://images.unsplash.com/photo-1633158829585-23ba8f7c8caf?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=870&q=80"> -->

        </div>
        <div class="col-md-6-auto">
            <div class="d-flex justify-content align-items-center">
                <a href="/loan/loan-request/">
                    <button type="button" class="btn btn-info btn-rounded m-2">Apply for a Loan</button>
                </a>

                or

                <a href="/account/signup-customer/">
                    <button type="button" class ="btn btn-info btn-rounded m-2">Register</button>
                </a>

            </div>
        </div>    
    </div>

<div/>

{% endblock content %} 


            

